# Writing python code
Follow the instructions by writing the appropriate python code

1. Write the following expression in python

$$\frac{x + 3y - 2}{5x} - 3x + 2y^2$$

In [25]:
x = 3.1
y = 12.0
# Write your code here

result = ((x + 3*y -2)/(5*x)) - (3*x) + (2*y**2) 

result

281.09354838709675

# 2. In the cell below there is a variable called `mname`. This variable represents a person's middle name. Print the expression that corresponds to the middle initial of this person

In [14]:
mname = 'Reboquio'
mname[0]
#Write your code here

'R'

3. In the cell below you have two variables: `fname`,`mname`, and `lname`. These variables represent a persons first name, middle name, and last name respectively. Print the expression that concatenates the string into the following format:

> Mr. {First Name} {Middle Initial}. {Last Name}

In [31]:
fname = 'Rub'
mname = 'Reboquio'
lname = 'Abella'
#Write your code here

m_initial = mname[0]
fullname = "Mr. " + fname + " " + m_initial + ". " + lname # fullname = f"Mr. {fname} {m_initial}. {lname}"

print(fullname)

Mr. Rub R. Abella

4. In the cell below, you are given a list containing lists. Print the value of the second to the last element

In [36]:
items = ['1st','2nd','3rd','4th','5th']
#Write your code here
items[-2]

'4th'

5. In the cell below, you are given a list containing lists. Print the value of the last element of the last list (the last list is the inner list in the last position of the outer list)

In [44]:
items = [[1,2,3],[1,2,3],[],[3,4,5],[6,5]]
last_item = items[-1]
last_item [-1]

#Write your code here

5